---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Section from "@/components/fundations/containers/Section.astro";
---

<Section>
  <Wrapper variant="standardWide" class="px-8 py-32 lg:py-48">
    <div class="max-w-3xl mx-auto">
      <Text
        tag="h1"
        variant="display2XL"
        class="tracking-tighter font-display text-accent-800 text-balance"
      >
        Web development and creative agency
      </Text>
      <Text tag="p" variant="textBase" class="font-medium text-accent-500 mt-6">
        We are a team of creatives and developers who work together to create a
        unique and engaging experience for our clients.
      </Text>
    </div>
  </Wrapper>
</Section>
