---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
const testimonials = [
  {
    testimonial:
      "Working with this team has been an absolute pleasure. Their dedication and expertise have helped us achieve outstanding results.",
    name: "David Johnson",
    role: "Marketing Manager, Acme Corp",
  },
  {
    testimonial:
      "I am continually impressed by their professionalism and commitment to excellence. They consistently deliver top-notch work on time and within budget.",
    name: "Sarah Adams",
    role: "Creative Director, XYZ Design Studio",
  },
  {
    testimonial:
      "I highly recommend this team to anyone seeking reliable and skilled web development services. They are responsive, proactive, and always exceed expectations.",
    name: "Michael Smith",
    role: "Founder & CEO, Tech Innovations Inc",
  },
];
---

<section class="bg-white overflow-hidden relative">
  <Wrapper variant="standard" class="pt-24 pb-12">
    <div class="grid lg:grid-cols-2 gap-12 items-start">
      <div>
        <div class="relative max-w-xs">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-accent-300"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="bg-white pr-2 text-sm text-accent-500 font-medium"
              >Our customers</span
            >
          </div>
        </div>
        <Text
          tag="h2"
          variant="displayMD"
          class="tracking-tight font-display text-accent-800 mt-24 text-balance"
        >
          Our clients have something to say about us.
        </Text>
        <Text
          tag="p"
          variant="textXL"
          class="text-accent-500 mt-8 font-display text-balance"
        >
          We have customers all around the world.
        </Text>
      </div>
    </div>
  </Wrapper>
</section>
