---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import WorkEntry1 from "@/components/work/WorkEntry1.astro";
// Content
const allwork = await getCollection("work");
import { getCollection } from "astro:content";
---

<section class="bg-white overflow-hidden relative">
  <Wrapper variant="standard" class="py-32 lg:py-48">
    <div class="grid items-end gap-4 lg:grid-cols-3">
      <div class="lg:col-span-2">
        <div class="relative max-w-xs">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-accent-300"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="bg-white pr-2 text-sm text-accent-500 font-medium"
              >Work</span
            >
          </div>
        </div>
        <Text
          tag="h2"
          variant="displayMD"
          class="tracking-tighter font-display text-accent-800 text-balance mt-12"
        >
          Our most recent projects
        </Text>
      </div>
      <div class="flex lg:ml-auto">
        <Link size="lg" variant="accent" href="/work/home" class="w-auto">
          See all our work
        </Link>
      </div>
    </div>
  </Wrapper>
</section>
