@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";
@layer utilities {
  .transition-max-w {
    transition: max-width 0.5s ease-in-out;
  }
  /* Keyframes */
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes rightMarquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  /* Animation Utility Classes */
  .animate-marquee {
    animation: var(--animate-marquee);
  }

  .animate-rightMarquee {
    animation: var(--animate-rightMarquee);
  }

  .animate-slowMarquee {
    animation: var(--animate-slowMarquee);
  }

  .animate-verticalMarquee {
    animation: var(--animate-verticalMarquee);
  }
}
@theme {
  /* Typography*/
  --font-sans: "Inter", sans-serif;
  --font-display: "Epilogue", sans-serif;
  /* Colors */
  /* base Shades */
  --color-base-50: #f8f7f8;
  --color-base-100: #f0eef0;
  --color-base-200: #ded9de;
  --color-base-300: #c1b8c1;
  --color-base-400: #9e919f;
  --color-base-500: #827483;
  --color-base-600: #6a5e6b;
  --color-base-700: #584c58;
  --color-base-800: #4a424a;
  --color-base-900: #423b42;
  --color-base-950: #2b262b;
  /* accent Shades */
  --color-accent-50: #f6f7f6;
  --color-accent-100: #e2e5e2;
  --color-accent-200: #c4cbc4;
  --color-accent-300: #9fa99f;
  --color-accent-400: #818d81;
  --color-accent-500: #606c61;
  --color-accent-600: #4b564b;
  --color-accent-700: #3f4640;
  --color-accent-800: #353a36;
  --color-accent-900: #2e332e;
  --color-accent-950: #181b18;
  /* Yellow Shades */
  --color-yellow-50: #fbf6ef;
  --color-yellow-100: #f3e4d2;
  --color-yellow-200: #e6c7a1;
  --color-yellow-300: #d8a771;
  --color-yellow-400: #ce8a4b;
  --color-yellow-500: #c5713b;
  --color-yellow-600: #ae5631;
  --color-yellow-700: #91402c;
  --color-yellow-800: #773429;
  --color-yellow-900: #632c24;
  --color-yellow-950: #381410;
  /* Pink Shades */
  --color-pink-50: #fbf5f6;
  --color-pink-100: #f8ebed;
  --color-pink-200: #f2d9df;
  --color-pink-300: #e6bbc5;
  --color-pink-400: #d894a5;
  --color-pink-500: #c8728a;
  --color-pink-600: #af4f6e;
  --color-pink-700: #923e5b;
  --color-pink-800: #7b3650;
  --color-pink-900: #6a3148;
  --color-pink-950: #3a1725;

  /* Animation Variables */
  --animate-marquee: marquee 12s linear infinite;
  --animate-rightMarquee: rightMarquee 300s linear infinite;
  --animate-slowMarquee: marquee 300s linear infinite;
  --animate-verticalMarquee: vertical 30s linear infinite;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
:root {
  /* Typography*/
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1,
    /* Contextual Alternates */ "dlig" 1, /* Discretionary Ligatures */ "ss07" 1,
    /* fSquare punctuation */ "ss08" 1, /* Square quotes */ "zero" 1,
    /* Slashed zero */ "tnum" 1, /* Tabular numbers */ "cv03" 1,
    /* Open six */ "cv04" 1, /* Open nine */ "cv01" 1,
    /* Alternate one */ "cv09", /* Flat-top three */ "cv02" 1; /* Open 4 */
  /* Style code blocks */
  --astro-code-color-text: var(--color-pink-700);
  --astro-code-background: var(--color-accent-50);
  --astro-code-token-constant: var(--color-yellow-500);
  --astro-code-token-string: var(--color-accent-500);
  --astro-code-token-comment: var(--color-accent-300);
  --astro-code-token-keyword: var(--color-yellow-400);
  --astro-code-token-parameter: var(--color-base-600);
  --astro-code-token-function: var(--color-accent-500);
  --astro-code-token-string-expression: var(--color-pink-500);
  --astro-code-token-punctuation: var(--color-accent-200);
  --astro-code-token-link: var(--color-base-300);
}



