---
interface Props {
  class?: string; // Optional prop for additional classes
}

const { class: extraClass = "" } = Astro.props;
---

<section class={`bg-base-50 overflow-hidden relative ${extraClass}`}>
  <slot />
</section> 