---
// Fundations
import "@/styles/global.css";
import BaseHead from "@/components/fundations/head/BaseHead.astro";
// Components
import Footer from "@/components/global/Footer.astro";
import BlogSearch from "@/components/blog/BlogSearch.astro";
import Navigation from "@/components/global/Navigation.astro";
import Section from "@/components/fundations/containers/Section.astro";

// Props
const { class: className } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GenZen Pro</title>
  </head>
  <body class="bg-base-50">
    <Navigation />

    <BlogSearch class="fixed bottom-6 right-6 z-50" />

    <main class={className}>
      <slot />
    </main>

    <Footer />
  </body>
</html>
