---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { url, company, work } = {
  url: "/work/" + Astro.props.post.slug,
  company: Astro.props.post.data.company,
  work: Astro.props.post.data.work,
};
---

<article class="relative flex flex-col justify-between overflow-hidden group bg-accent-50 rounded-2xl p-8 hover:bg-accent-100 transition-colors duration-300">
  <a href={url} title={company} class="text-accent-800 absolute inset-0 z-10"></a>
  <div class="text-left">
    <Text
      tag="h2"
      variant="textXL"
      class="text-accent-800 font-medium font-display mb-2"
    >
      {company}
    </Text>
    <Text
      tag="p"
      variant="textBase"
      class="tracking-tight text-accent-600"
    >
      {work}
    </Text>
  </div>
</article>
