---
// Assets
import BigLogo from "@/components/assets/BigLogo.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const services = [
  { name: "License", link: "https://www.lexingtonthemes.com/legal/license" },
  { name: "Overview", link: "/system/overview" },
  { name: "Style Guide", link: "/system/" },
  { name: "More themes", link: "https://lexingtonthemes.com/" },
  {
    name: "Documentation",
    link: "https://www.lexingtonthemes.com/documentation",
  },
  { name: "Lexington On X", link: "https://twitter.com/lexingtonthemes" },
];
---

<section class="bg-white overflow-hidden">
  <Wrapper variant="standard" class="py-24">
    <div class="max-w-sm">
      <Text
        tag="h2"
        variant="displayXL"
        class="tracking-tighter font-display text-accent-800 text-balance"
      >
        Your next web agency
      </Text>
      <ul role="list" class="flex flex-wrap gap-2 max-w-xl w-full mt-24">
        {
          services.map((service) => (
            <li>
              <a
                class="text-accent-400 text-xl hover:text-pink-500 duration-300"
                href={service.link}
              >
                {service.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </Wrapper>
  <BigLogo class="lg:-mr-52 lg:ml-110 lg:scale-150 text-accent-400" />
</section>
