---
// Assets
import LogoDark from "@/components/assets/LogoDark.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Section from "@/components/fundations/containers/Section.astro";
---

<Section>
  <Wrapper variant="standard" class="py-4">
    <div class="flex items-center justify-between">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5 flex items-center gap-3">
          <LogoDark class="w-10 h-10" />
          <Text tag="span" variant="textXL" class="font-sans">GenZen Pro</Text>
        </a>
      </div>
      <div class="flex gap-4">
        <Link href="/system/overview" variant="muted" size="base">Overview</Link>
      </div>
    </div>
  </Wrapper>
</Section>
