---
// Assets
import { Image } from "astro:assets";
import logoImage from "@/images/logo.png";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Section from "@/components/fundations/containers/Section.astro";
---

<Section>
  <Wrapper variant="standard" class="py-4">
    <div class="flex items-center justify-between">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5 flex items-center gap-2">
          <Image 
            src={logoImage} 
            alt="GenZen Pro Logo"
            class="w-6 h-6"
          />
          <Text tag="span" variant="textLG" class="font-sans">GenZen Pro</Text>
        </a>
      </div>
      <div class="flex gap-4">
        <Link href="/system/overview" variant="muted" size="base">Overview</Link>
      </div>
    </div>
  </Wrapper>
</Section>
